html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  font-family: "Inter", sans-serif;
}

.navbar {
  width: 100%;
  height: 86px;
  padding: 20px 0;
  background-color: rgb(248, 249, 251);
  border-bottom: 1px solid #eaebf0;
}
.navbar .navbar_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 32px;
}
.navbar .navbar_container .navbar_left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.navbar .navbar_container .navbar_left > img {
  width: 160px;
  height: 40px;
  margin-right: 64px;
}
.navbar .navbar_container .navbar_left a {
  margin-right: 32px;
  text-decoration: none;
  font-weight: 600;
  font-size: 15px;
  line-height: 22px;
  color: rgb(39, 45, 55);
}
.navbar .navbar_container .navbar_left a:hover {
  color: rgb(95, 109, 126);
}
.navbar .navbar_container .navbar_right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.navbar .navbar_container .navbar_right .bg_primary {
  font-weight: 600;
  font-size: 15px;
  line-height: 22px;
  font-family: "Inter", sans-serif;
  cursor: pointer;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  padding: 12px 18px;
  background: rgb(67, 126, 247);
  border: 1px solid transparent;
  -webkit-box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.04);
          box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.04);
  border-radius: 6px;
  color: #fff;
}
.navbar .navbar_container .navbar_right .bg_primary:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}
.navbar .navbar_container .navbar_right .bg_white {
  font-weight: 600;
  font-size: 15px;
  line-height: 22px;
  font-family: "Inter", sans-serif;
  cursor: pointer;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  padding: 12px 18px;
  color: rgb(67, 126, 247);
  background-color: transparent;
  border: 1px solid transparent;
  padding-left: 0;
  padding-right: 24px;
}
.navbar .navbar_container .navbar_right .bg_white:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}
.navbar .navbar_container .navbar_right img:last-child {
  display: none;
}

@media screen and (max-width: 1280px) {
  .navbar {
    padding: 0;
    height: 64px;
  }
  .navbar .container {
    width: 768px;
  }
  .navbar .navbar_container {
    padding: 16px;
  }
  .navbar .navbar_container .navbar_left img {
    padding: 0;
    width: 128px;
    height: 32px;
  }
  .navbar .navbar_container .navbar_left a {
    display: none;
  }
  .navbar .navbar_container .navbar_right button {
    display: none;
  }
  .navbar .navbar_container .navbar_right img:last-child {
    display: inherit;
    width: 24px;
    height: 24px;
  }
}
@media screen and (max-width: 768px) {
  .navbar {
    padding: 0;
    height: 64px;
  }
  .navbar .container {
    width: 375px;
  }
}
.container {
  width: 1280px;
  margin: auto;
}

.info_section {
  width: 100%;
  background-color: rgb(248, 249, 251);
}
.info_section .info_section_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 107px;
  padding-bottom: 119px;
}
.info_section .info_section_container p {
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  letter-spacing: -0.1px;
  color: rgb(67, 126, 247);
  margin-bottom: 16px;
}
.info_section .info_section_container h1 {
  font-weight: 700;
  font-size: 52px;
  line-height: 60px;
  text-align: center;
  letter-spacing: -0.01em;
  color: rgb(39, 45, 55);
}
.info_section .info_section_container .demonstrate_second,
.info_section .info_section_container .demonstrate_third {
  display: none;
}

.card_section {
  width: 100%;
}
.card_section .card_section_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 64px 0;
}
.card_section .card_section_container .cards {
  padding: 0 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 32px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.card_section .card_section_container .cards .card {
  border: 1px solid rgb(234, 235, 240);
  -webkit-box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.04);
          box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.04);
  border-radius: 5px;
  width: 384px;
}
.card_section .card_section_container .cards .card .mixtured {
  margin: 24px 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.card_section .card_section_container .cards .card .mixtured button {
  font-weight: 600;
  font-size: 15px;
  line-height: 22px;
  font-family: "Inter", sans-serif;
  cursor: pointer;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  padding: 12px 18px;
  color: rgb(39, 45, 55);
  border: 1px solid rgb(218, 224, 230);
  background-color: #fff;
  -webkit-box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.04);
          box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.04);
  border-radius: 6px;
}
.card_section .card_section_container .cards .card .mixtured button:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}
.card_section .card_section_container .cards .card .info_card {
  margin: 24px 32px;
  margin-top: 0;
}
.card_section .card_section_container .cards .card .info_card h6 {
  font-weight: 600;
  font-size: 22px;
  line-height: 30px;
  letter-spacing: -0.01em;
  color: rgb(39, 45, 55);
  margin-bottom: 8px;
}
.card_section .card_section_container .cards .card .info_card p {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.1px;
  color: rgb(95, 109, 126);
}

.input_section {
  width: 100%;
}
.input_section .input_section_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 1216px;
  background-color: rgb(248, 249, 251);
  padding: 64px 0;
  gap: 24px;
  padding: 32px;
}
.input_section .input_section_container .general {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 564px;
  height: 74px;
}
.input_section .input_section_container .general label {
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: -0.1px;
  color: rgb(39, 45, 55);
}
.input_section .input_section_container .general input,
.input_section .input_section_container .general select,
.input_section .input_section_container .general textarea {
  font-weight: 400;
  font-size: 15px;
  padding: 12px 16px;
  line-height: 22px;
  letter-spacing: -0.1px;
  color: rgb(145, 155, 167);
  border: 1px solid rgb(218, 224, 230);
  -webkit-box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.04);
          box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.04);
  border-radius: 6px;
}
.input_section .input_section_container .general select {
  color: rgb(39, 45, 55);
}
.input_section .input_section_container .big_text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 1152px;
  height: 147px;
}
.input_section .input_section_container .big_text label {
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: -0.1px;
  color: rgb(39, 45, 55);
}
.input_section .input_section_container .big_text textarea {
  font-weight: 400;
  font-size: 15px;
  padding: 12px 16px;
  line-height: 22px;
  letter-spacing: -0.1px;
  color: rgb(145, 155, 167);
  border: 1px solid rgb(218, 224, 230);
  -webkit-box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.04);
          box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.04);
  border-radius: 6px;
}
.input_section .input_section_container .checkbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.input_section .input_section_container .checkbox label {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.1px;
  color: rgb(39, 45, 55);
  margin-left: 12px;
}
.input_section .input_section_container .checkbox input {
  width: 20px;
  height: 24px;
}
.input_section .input_section_container .button {
  width: 100%;
}
.input_section .input_section_container .button button {
  font-weight: 600;
  font-size: 15px;
  line-height: 22px;
  font-family: "Inter", sans-serif;
  cursor: pointer;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  padding: 12px 18px;
  width: 88px;
  background: rgb(67, 126, 247);
  -webkit-box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.04);
          box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.04);
  border-radius: 6px;
  color: #fff;
  border: 1px solid transparent;
}
.input_section .input_section_container .button button:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

@media screen and (max-width: 1280px) {
  .info_section .container {
    width: 768px;
  }
  .info_section .info_section_container {
    padding-top: 48px;
    padding-bottom: 88px;
  }
  .info_section .info_section_container p {
    margin-bottom: 0;
  }
  .info_section .info_section_container .demonstrate_first,
  .info_section .info_section_container .demonstrate_third {
    display: none;
  }
  .info_section .info_section_container .demonstrate_second {
    display: inherit;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .card_section .container {
    width: 768px;
  }
  .card_section .card_section_container {
    padding: 40px 0;
  }
  .card_section .card_section_container .cards {
    padding: 0 32px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 24px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .card_section .card_section_container .cards .card {
    width: 340px;
  }
}
@media screen and (max-width: 768px) {
  .info_section .container {
    width: 375px;
  }
  .info_section .info_section_container {
    padding: 32px 16px 40px 16px;
  }
  .info_section .info_section_container p {
    margin-bottom: 32px;
  }
  .info_section .info_section_container .demonstrate_second {
    display: none;
  }
  .info_section .info_section_container .demonstrate_third {
    display: inherit;
  }
  .info_section .info_section_container .demonstrate_third h1 {
    font-weight: 600;
    font-size: 36px;
    line-height: 44px;
    text-align: center;
    letter-spacing: -0.02em;
  }
  .card_section .container {
    width: 375px;
  }
  .card_section .card_section_container {
    padding: 32px 0;
  }
  .card_section .card_section_container .cards {
    padding: 0 16px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 16px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .card_section .card_section_container .cards .card {
    width: 343px;
  }
}