$white: #fff;
$base-white: rgba(255, 255, 255, 1);
$primary-600: rgba(67, 126, 247, 1);
$neutral-100: rgba(248, 249, 251, 1);
$neutral-600: rgba(234, 235, 240, 1);
$neutral-800: rgba(165, 172, 186, 1);
$gray-950: rgba(21, 27, 40, 1);
$gray-50: rgba(95, 109, 126, 1);
$gray-700: rgba(39, 45, 55, 1);
$button_border: rgba(16, 24, 40, 0.04);
$navbar_border_bottom: #eaebf0;
