.container {
  width: 1280px;
  margin: auto;
}
.info_section {
  width: 100%;
  background-color: $neutral-100;
  .info_section_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 107px;
    padding-bottom: 119px;
    p {
      font-weight: 600;
      font-size: 14px;
      line-height: 20px;
      text-align: center;
      letter-spacing: -0.1px;
      color: $primary-600;
      margin-bottom: 16px;
    }
    h1 {
      font-weight: 700;
      font-size: 52px;
      line-height: 60px;
      text-align: center;
      letter-spacing: -0.01em;
      color: $gray-700;
    }
    .demonstrate_second,
    .demonstrate_third {
      display: none;
    }
  }
}
.card_section {
  width: 100%;
  .card_section_container {
    display: flex;
    padding: 64px 0;
    .cards {
      padding: 0 32px;
      display: flex;
      gap: 32px;
      flex-wrap: wrap;
      .card {
        border: 1px solid $neutral-600;
        box-shadow: 0px 1px 2px $button_border;
        border-radius: 5px;
        width: 384px;
        .mixtured {
          margin: 24px 32px;
          display: flex;
          justify-content: space-between;
          align-items: center;
          button {
            @include buttons;
            color: $gray-700;
            border: 1px solid $neutral-700;
            background-color: $white;
            box-shadow: 0px 1px 2px $button_border;
            border-radius: 6px;
          }
        }
        .info_card {
          margin: 24px 32px;
          margin-top: 0;
          h6 {
            font-weight: 600;
            font-size: 22px;
            line-height: 30px;
            letter-spacing: -0.01em;
            color: $gray-700;
            margin-bottom: 8px;
          }
          p {
            font-weight: 400;
            font-size: 16px;
            line-height: 24px;
            letter-spacing: -0.1px;
            color: $gray-50;
          }
        }
      }
    }
  }
}
.input_section {
  width: 100%;
  .input_section_container {
    display: flex;
    flex-wrap: wrap;
    width: 1216px;
    background-color: $neutral-100;
    padding: 64px 0;
    gap: 24px;
    padding: 32px;
    .general {
      display: flex;
      flex-direction: column;
      width: 564px;
      height: 74px;
      label {
        margin-bottom: 8px;
        font-weight: 500;
        font-size: 14px;
        line-height: 20px;
        letter-spacing: -0.1px;
        color: $gray-700;
      }
      input,
      select,
      textarea {
        font-weight: 400;
        font-size: 15px;
        padding: 12px 16px;
        line-height: 22px;
        letter-spacing: -0.1px;
        color: $gray-25;
        border: 1px solid $neutral-700;
        box-shadow: 0px 1px 2px $button_border;
        border-radius: 6px;
      }
      select {
        color: $gray-700;
      }
    }
    .big_text {
      display: flex;
      flex-direction: column;
      width: 1152px;
      height: 147px;
      label {
        margin-bottom: 8px;
        font-weight: 500;
        font-size: 14px;
        line-height: 20px;
        letter-spacing: -0.1px;
        color: $gray-700;
      }
      textarea {
        font-weight: 400;
        font-size: 15px;
        padding: 12px 16px;
        line-height: 22px;
        letter-spacing: -0.1px;
        color: $gray-25;
        border: 1px solid $neutral-700;
        box-shadow: 0px 1px 2px $button_border;
        border-radius: 6px;
      }
    }
    .checkbox {
      display: flex;
      align-items: center;
      label {
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: -0.1px;
        color: $gray-700;
        margin-left: 12px;
      }
      input {
        width: 20px;
        height: 24px;
      }
    }
    .button {
      width: 100%;
      button {
        @include buttons;
        width: 88px;
        background: $primary-600;
        box-shadow: 0px 1px 2px $button_border;
        border-radius: 6px;
        color: $white;
        border: 1px solid transparent;
      }
    }
  }
}
@media screen and (max-width: 1280px) {
  .info_section {
    .container {
      width: 768px;
    }
    .info_section_container {
      padding-top: 48px;
      padding-bottom: 88px;
      p {
        margin-bottom: 0;
      }
      .demonstrate_first,
      .demonstrate_third {
        display: none;
      }
      .demonstrate_second {
        display: inherit;
        display: flex;
        flex-direction: column;
      }
    }
  }
  .card_section {
    .container {
      width: 768px;
    }
    .card_section_container {
      padding: 40px 0;
      .cards {
        padding: 0 32px;
        display: flex;
        gap: 24px;
        flex-wrap: wrap;
        .card {
          width: 340px;
        }
      }
    }
  }
}
@media screen and (max-width: 768px) {
  .info_section {
    .container {
      width: 375px;
    }
    .info_section_container {
      padding: 32px 16px 40px 16px;
      p {
        margin-bottom: 32px;
      }
      .demonstrate_second {
        display: none;
      }
      .demonstrate_third {
        display: inherit;
        h1 {
          font-weight: 600;
          font-size: 36px;
          line-height: 44px;
          text-align: center;
          letter-spacing: -0.02em;
        }
      }
    }
  }
  .card_section {
    .container {
      width: 375px;
    }
    .card_section_container {
      padding: 32px 0;
      .cards {
        padding: 0 16px;
        display: flex;
        gap: 16px;
        flex-wrap: wrap;
        .card {
          width: 343px;
        }
      }
    }
  }
}
