label {
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: -0.1px;
  color: $gray-700;
}
input,
select,
textarea {
  font-weight: 400;
  font-size: 15px;
  padding: 12px 16px;
  line-height: 22px;
  letter-spacing: -0.1px;
  color: $gray-25;
  border: 1px solid $neutral-700;
  box-shadow: 0px 1px 2px $button_border;
  border-radius: 6px;
}
select {
  color: $gray-700;
  appearance: none;
  background-image: url("../../asserts/svg/dropdown.svg");
  background-position: right 15px center;
  background-repeat: no-repeat;
  background-size: auto 45%;
}
textarea {
  resize: none;
}
